_CommonRedist/
.DS_Store
/.vscode/sftp.json
*/dayzOffline.chernarusplus/
*/dayzOffline.enoch/
/@*/
/addons/
/appcache/
/Backups/
/battleye/
/bliss/
/config/
/docs/
/dta/
/keys/
/logs/
*/Battleye/
/steamapps/
/ban.txt
/priority.txt
/whitelist.txt
*/*/logs/
*.log
*.RPT
serverDZ.cfg
profiles/DataCache/cache.ch
profiles/PermissionsFramework/Permissions/
profiles/PermissionsFramework/Players/
profiles/Heatmap/*Heatmap.json
profiles/ExpansionMod/AI/Spatial/SpatialPlayerSettings.json